@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-bocream-100 text-slate-900;
  }
}

@layer components {
  .btn-primary {
    @apply inline-flex items-center justify-center rounded-full bg-boared-500 px-5 py-3 text-sm font-semibold text-white shadow-sm transition hover:bg-boared-700;
  }

  .btn-secondary {
    @apply inline-flex items-center justify-center rounded-full border border-boared-500 px-5 py-3 text-sm font-semibold text-boared-500 transition hover:bg-boared-50;
  }

  .card {
    @apply rounded-2xl bg-white p-6 shadow-lg shadow-slate-200/60;
  }

  .input {
  @apply w-full rounded-xl border border-slate-200 bg-white
         px-4 py-3 text-sm text-slate-900
         placeholder:text-slate-400
         focus:border-boared-500
         focus:outline-none
         focus:ring-2
         focus:ring-boared-50;
}


  .label {
    @apply text-xs font-semibold uppercase tracking-wide text-slate-500;
  }
}